@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
/*font-family: 'Alegreya Sans SC', sans-serif;*/ /*  FOR TITLE  */

/*Default settings**/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}

img{width:100%}
html{font-size: 16px;}
@media(max-width: 768px){
    html{font-size: 14px;}
    .basket-button{width: 50px!important;}
}
li{list-style: none}
.grid{display: grid; grid-template-columns: repeat(12, 1fr)!important; grid-template-rows: auto;}
button{ border: 0; background: none }

/**/


html, body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    --grid-template-columns: 12;
    --grid-column: 4;
}

body{
    background: #4d4b41;
    position: relative;
}

.basket-button{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 65px;
    background: #0071c5;
    padding: 0.5em;
    border-radius: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


@media(min-width: 768px){
    .basket-button{
        opacity: 0.8;
    }

    .basket-button:hover{
        opacity: 1;
    }
}

.basket{
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    border: 1px solid black;
    width: 700px;
    padding: 1.1em;
    background: white;
    height: 100%;
    overflow: auto;

}

@media(max-width: 768px){
    .basket{
        width: 100%;
    }
}


.basket .basket-header{
    display: flex;
    justify-content: center;
}

.basket .basket-header .close-basket-button{
    background: none;
    cursor: pointer;
}

.basket .basket-header{
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
}

.basket .basket-header .section-title{
    border: 0;
}

.basket .basket-body{
    margin: 1em;
}

.basket .basket-body .basket-products{
    display: flex;
    flex-direction: column;
}

.basket .basket-body .basket-products .basket-product{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 1em 0;
    padding: 1em;
}

.basket .basket-body .basket-products .basket-product:hover{
    background: #ececec;
    cursor: pointer;
}

.basket .basket-body .basket-products .basket-product .product-image{
    grid-column: span 2;

}

.basket .basket-body .basket-products .basket-product .product-misc{
    grid-column: span 10;
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    justify-self: end;
}

.basket .basket-body .basket-products .basket-product .product-misc .product-title{
    margin-bottom: 1.5em;
}
.basket .basket-body .basket-products .basket-product .product-misc .interaction-bar{
    font-weight: bold;
    font-size: 1.35em;
}

.basket .basket-body .basket-products .basket-product .product-misc .interaction-bar input[type="number"]{
    font-size: 1em;
    border: 2px solid gray;
    border-radius: 12px;
    width: 75px;
    padding: 5px;
    text-align: center;
}




header{
    background: whitesmoke;
}

header.grid{align-items: center}

header nav{
    margin: 0 0.6em;
    grid-column: span 8;
}

header nav ul{
    display: flex;
}

header nav ul li{
    font-size: 1em;
    color: #0071c5;
    border: 2px solid #0071c5;
    font-weight: bold;
    margin: 0 0.5em;
}

header nav ul li span{
    padding: 20px;
    cursor: pointer;
    
}

.toggle-menu{
    width: 25px;
}

@media (min-width: 768px) {
    .toggle-menu{
        display: none;
    }
    header .logo{order: 2}
    header nav{order: 1}
    header nav ul li{border-radius: 32px;}
    header nav ul li:hover{background: #0071c5; color: whitesmoke}
}

@media (max-width: 768px){

    header nav{display: none; grid-column: span 12; margin-left: 1.8em}
    header .logo{grid-column: span 10!important; justify-self: start!important;}
    header nav ul{flex-direction: column;}
    .toggle-menu{grid-column: span 2; justify-self: end;}
    header nav ul li{margin: 0.25em -28px; width: 100%}
    header nav ul li span{width: 100%; display: block}
}


header .logo{
    display: flex;
    align-items: center;
    grid-column: span 4;
    justify-self: end;
    
}

header .logo .logo-text{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.25em;
    margin-right: 6px;
    cursor: pointer;
    color: #0071c5;
}

header .logo .logo-text:hover{text-decoration: underline;}

header .logo .logo-image{
    width: 64px;
}

.banner{
    background-image: url("pics/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .banner-text-box{
    background: rgba(255,255,255,0.5);
    padding: 2em 4em;
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
}

@media(max-width: 768px){
    .banner .banner-text-box{
        padding: 1em;
        font-size: 2em;
    }
}

@media(max-width: 540px){
    .banner .banner-text-box{
        padding: 0.75em;
    }
}

.section-title{
    font-family: 'Alegreya Sans SC', sans-serif;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    text-align: center;
    padding: 10px;
    font-size: 2em;
}

.container{
    font-size: 1.4em;
}

.container .latest-bar{
    background: #fff;
    padding: 1em;
}

.container .latest-bar .counter{
    margin: 0.5em;
    background: wheat;
    border-radius: 360px;
    display: inline-flex;
    justify-items: center;
    align-items: center;
    padding: 0.25em;
    font-weight: bold;

    color: #76b900;
}

.container .latest-bar .latest-products-container{
    margin: 0.5em 0;
    border: 1px solid gray;
    padding: 1em 0.5em;
}

.container .latest-bar .latest-products-container .latest-product-box{
    --delay-time: 2s;
    grid-column: span 3;
    width: 45%;
    cursor: pointer;
    transition: all 0.4s;
    position: relative;
    align-self: center;
    justify-self: center;
    animation-name: fade-in, fade-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0s, var(--delay-time);
    opacity: 0;
}

@keyframes fade-in {
    0%{opacity: 0}
    100%{opacity: 1}
}

@keyframes fade-out {
    0%{opacity: 1}
    100%{opacity: 0}
}

 .add-to-basket-button{
    display: none;
     font-size: 0.8em;
     padding: 0.75em;
    position: absolute;
    bottom: 0;
    border-radius: 32px;
    background: rgb(42, 192, 42);
    color: white;
    font-weight: bold;
    cursor: pointer;

}

.add-to-basket-button:active{
    color: black;
}


@media(min-width:768px){
    .container .latest-bar .latest-products-container .latest-product-box:hover:before{
        content: attr(data-content-value);
        position: absolute;
        top: -25%;
        background: #ff9526;
        color: white;
        font-family: 'Alegreya Sans SC', sans-serif;
        padding: 0.25em;
        font-size: 1.1em;
    }

    .container .latest-bar .latest-products-container .latest-product-box:hover{
        transform: scale(0.78);
        transition: all 0.4s;
        box-shadow: 2px 2px 3px 2px black;
    }
    
    .container .latest-bar .latest-products-container .latest-product-box:hover>.add-to-basket-button{
        display: block;
    }
    

}

@media(min-width: 1200px) and (max-width: 1500px){
    .container .latest-bar .latest-products-container .latest-product-box:hover:before{
        top: -30%;
        padding: 0.15em;
        font-size: 1em;
    }

    .add-to-basket-button{
        bottom: -20%;
        padding: 0.6em;
    }
}

@media(min-width: 768px) and (max-width: 1200px){
    .container .latest-bar .latest-products-container .latest-product-box:hover:before{
        top: -35%;
        padding: 0.1em;
        font-size: 0.75em;
    }

    .add-to-basket-button{
        bottom: -20%;
        padding: 0.6em;
        font-size: 0.65em;
    }
}


@media(max-width: 768px){
    .container{font-size: 1.25em}
    .container .latest-bar .latest-products-container .latest-product-box{
        grid-column: span 6;
        align-self: center;
        justify-self: center;
        margin: 2em 0;
        box-shadow: 2px 2px 2px 2px black;
        width: 85%;
    }

    .container .latest-bar .latest-products-container .latest-product-box:before{
        content: attr(data-content-value);
        position: absolute;
        top: -10%;
        background: #ff9526;
        color: white;
        padding: 0.25em;
        font-size: 1.1em;
    }
    

    .container .latest-bar .latest-products-container .latest-product-box:active{
        transform: scale(0.95);
    }


     .add-to-basket-button{
        display: block;
    }

}

.container .page-description{
    background: whitesmoke;
    padding: 0.5em;
    color: #0071c5;
}

.container .page-description .open-section{
    display: none;
    width: 20px;
    margin: 15px 0;
}

@media(max-width: 768px){
    .container .page-description .open-section{
        display: block;
    }

    .container .page-description .description-boxes{
        display: none;
    }

    .container .page-description .description-boxes .description-box{
        grid-column: span 12!important;
    }

}

.rotated{
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    100%{rotate: 90deg}
}

.container .page-description .description-boxes{
    margin: 1.2em;
}

.container .page-description .description-boxes .description-box{
    padding: 1em;
    border: 1px solid gray;
    grid-column: span 3;
    margin: 1em;
}

.container .page-description .description-boxes .description-box .section-title{
    border: 0;
}


/*These classes are to change the brand colour according to its content*/
.amd-color{color: #ED1C24}
.intel-color{color: #0071c5;}
.nvidia-color{color: #76b900}
/***************************************************************************/

/*Class for make menu visible*/
/*For responsive menu and all stuff*/
.visible-menu{display: block!important;}
.not-visible{display: none!important;}